*{
    background-color: lightgray;
}

a{
    background-color: lightblue;
}

img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}

h1{
    color: red;
    background-color: whitesmoke;
    text-align: center;
}

h2{
    background-color: whitesmoke;
}